services:
  whisper-webui:
    image: yogawulala/whisper-webui-rocm:rocm6.3-gfx906
    container_name: whisper-webui

    # If you need change server_name and sever_port
    # Else default is 0.0.0.0:7860
    # command: ["--server_name", "0.0.0.0", "--server_port", "7860"]

    devices:
      - /dev/kfd
      - /dev/dri

    security_opt:
      - seccomp=unconfined

    volumes:
      # You can mount the container's volume paths to directory paths on your local machine.
      # Models will be stored in the `./models' directory on your machine.
      # Similarly, all output files will be stored in the `./outputs` directory.
      - ./models:/app/Whisper-WebUI/models
      - ./outputs:/app/Whisper-WebUI/outputs
      - ./configs:/app/Whisper-WebUI/configs

    ports:
      - 7860:7860

    environment:
      # Fix miopen error, reference: https://github.com/pytorch/pytorch/issues/160141#issuecomment-3294278253
      - ROCM_PATH=/opt/rocm
      # Fix pyannote.audio torch.load error, reference: https://github.com/ultralytics/yolov5/issues/13513#issuecomment-3104647609
      - TORCH_FORCE_NO_WEIGHTS_ONLY_LOAD=1
